@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #A72020;
}

/* Varibles */

:root {

    --lightGreen: #007321;
    --darkGreen: #193713;
    --lightRed: #A72020;
    --darkRed: #824C4C;
    --gold: #FFC45F;
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --lgSpacer: 4rem;
}

/* Typography */

h1 {
    font-family: "Great Vibes";
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Ibarra Real Nova", serif;
}


/* Her skriver Rune */

/* Header */
header {

    background-image: url(../img/julemarkedlys.PNG);
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--gold);
    font-size: 98px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

header i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 38px;
    color: black;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: flex-end;
    line-height: 1.5rem;
    background-color: var(--darkGreen);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: var(--mdSpacer);
    display: none;
}

input[type="text"] {
    border: 1px, solid, white;
    border-radius: 10px;
}

/* Main */

main {
    background-color: var(--lightRed);
    display: grid;
    grid-template-columns: 1fr;

}

.infotekst {
    border: 2px solid var(--gold);
    background-color: var(--darkGreen);
    color: var(--gold);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;

}

.hoverB {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverB h3 {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
}


.hoverB p {
    grid-column: 1;
    grid-row: 2;
}

.hoverB img {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hoverR {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverR h3 {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
}


.hoverR p {
    grid-column: 2;
    grid-row: 2;
}

.hoverR img {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hoverS {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverS h3 {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
}


.hoverS p {
    grid-column: 1;
    grid-row: 2;
}

.hoverS img {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.julemarked {
    max-width: 100%;
    grid-column: 1 / 2;
    margin-bottom: 50px;

}


.nu {
    text-align: center;
    font-size: 24px;
    color: white;
    grid-column: 1 / -1;
}

.julemanden {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.julemanden img {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nu2 {
    text-align: center;
    font-size: 24px;
    color: white;
    grid-column: 1 / -1;
}

.juletog {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.juletog img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #193713;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    align-items: flex-start;
    gap: var(--smSpacer);
}

.date i {
    font-size: 20px;
    padding-top: var(--smSpacer);
}

.socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: auto;
    right: 20px;
    gap: 20px;
}

.socials i {
    font-size: 30px;
}

@media (min-width:800px) {

    header {
        background-size: cover;
    }

    .hero {
        font-size: 148px;
    }


    .fa-bars {
        visibility: hidden;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 25px;
        gap: 1rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .infotekst {
        grid-column: 1 / -1;
        justify-self: center;
        width: 100%;
        max-width: 800px;

    }

    .hoverB {
        grid-column: 1;
        height: 300px;

    }

    .hoverR {
        grid-column: 2;
        height: 300px;
    }

    .hoverS {
        grid-column: 3;
        height: 300px;
    }

    .julemarked {
        grid-column: 1 / -1;
        padding: 25px;
        height: 600px;
        width: 100%;
    }

    .nu {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .julemanden {
        grid-column: 1 / 2;
    }

    .nu2 {
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
    }

    .juletog {
        grid-column: 3;
        grid-row: 5;

    }

}


/* Her skriver Morten */


/* Her skriver Freya */


/* Her skriver Melanie */