@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');



body {
    margin: 0;
    box-sizing: border-box;
}

/* Varibles */

:root {

    --lightGreen: #007321;
    --darkGreen: #193713;
    --lightRed: #A72020;
    --darkRed: #824C4C;
    --gold: #FFC45F;
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --lgSpacer: 4rem;
}

/* Typography */

h1 {
    font-family: "Great Vibes";
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Ibarra Real Nova", serif;
}


/* Her skriver Rune */

/* Header */
header {

    background-image: url(../img/julemarkedlys.PNG);
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--gold);
    font-size: 98px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

header i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 38px;
    color: white;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: flex-end;
    line-height: 1.5rem;
    background-color: var(--darkGreen);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: var(--mdSpacer);
    display: none;
}

input[type="text"] {
    border: 1px, solid, white;
    border-radius: 10px;
}

/* Main */

main {
    background-color: var(--lightRed);
    display: grid;
    grid-template-columns: 1fr;

}

.infotekst {
    border: 2px solid var(--gold);
    background-color: var(--darkGreen);
    color: var(--gold);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;

}

.hoverB {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverB h3 {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
}


.hoverB p {
    grid-column: 1;
    grid-row: 2;
}

.hoverB img {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hoverR {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverR h3 {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
}


.hoverR p {
    grid-column: 2;
    grid-row: 2;
}

.hoverR img {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hoverS {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.hoverS h3 {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
}


.hoverS p {
    grid-column: 1;
    grid-row: 2;
}

.hoverS img {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.julemarked {
    max-width: 100%;
    grid-column: 1 / 2;
    margin-bottom: 50px;

}


.nu {
    text-align: center;
    font-size: 24px;
    color: white;
    grid-column: 1 / -1;
}

.julemanden {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.julemanden img {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nu2 {
    text-align: center;
    font-size: 24px;
    color: white;
    grid-column: 1 / -1;
}

.juletog {
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
    background-color: #FFC45F;
    box-shadow: 3px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: 1 / 2;
    gap: 10px;
    margin-bottom: 50px;
}

.juletog img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #193713;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    align-items: flex-start;
    gap: var(--smSpacer);
}

.date i {
    font-size: 20px;
    padding-top: var(--smSpacer);
}

.socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: auto;
    right: 20px;
    gap: 20px;
}

.socials i {
    font-size: 30px;
}

@media (min-width:800px) {

    header {
        background-size: cover;
    }

    .hero {
        font-size: 148px;
    }


    .fa-bars {
        visibility: hidden;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 25px;
        gap: 1rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .infotekst {
        grid-column: 1 / -1;
        justify-self: center;
        width: 100%;
        max-width: 800px;

    }

    .hoverB {
        grid-column: 1;
        height: 300px;

    }

    .hoverR {
        grid-column: 2;
        height: 300px;
    }

    .hoverS {
        grid-column: 3;
        height: 300px;
    }

    .julemarked {
        grid-column: 1 / -1;
        padding: 25px;
        height: 600px;
        width: 100%;
    }

    .nu {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .julemanden {
        grid-column: 1 / 2;
    }

    .nu2 {
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
    }

    .juletog {
        grid-column: 3;
        grid-row: 5;

    }

}


/* Her skriver Morten */

html {
    background-color: var(--darkGreen);
}

img {
    width: 400px;
}

/* Header */
.BHeroImg {
    background-image: url(../img/fugleperspektiv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: relative;
}


h1 {
    text-align: center;
    color: var(--gold);
    font-size: 60px;
    font-weight: lighter;
}

.BegSnack {
    text-align: center;
    color: white;
}

/* Nav */

ul {
    color: white;
    display: flex;
    gap: var(--smSpacer);
    justify-content: flex-end;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


i {
    font-size: 60px;
    color: var(--gold);

}

/* .Ashop {
    color: white;
} */


/* Sektioner */

section {
    gap: var(--lgSpacer);
}

.Asection {
    background: var(--lightRed);
    color: white;
    display: grid;
}

.Bsection {
    background-color: var(--gold);
    color: black;
}

.Csection {
    background-color: var(--lightRed);
    color: white;

}

.Jsection {
    background-color: var(--gold);
    color: black;
}

.Ksection {
    background-color: var(--lightRed);
    color: white;
}

.Ssection {
    background-color: var(--gold);
    color: black;
}

.fa-solid {}















/* Her skriver Freya */

/* Hero styling */

.hero {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

body {
    background-color: var(--darkGreen);


}

main {
    margin: 0 auto;
    padding: var(--mdSpacer);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

h1,
.boerneaktiviteter {
    color: var(--gold);
    font-size: 4rem;
    font-weight: 500;
    font-family: "Great Vibes", cursive;

}

h1 {
    margin-bottom: 0;
}

.seoversigten {
    color: white;
}

/* Article styling */



article {
    display: flex;
    justify-content: space-between;
    gap: var(--mdSpacer);
    padding: var(--mdSpacer);

}

article .text {
    flex: 1;
    max-width: 600px;
}

article .text p {
    line-height: 1.5;
}

.boldtext {
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

article .image img {

    width: 100%;
    height: 100%;
    object-fit: cover;


}

article .image {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    box-sizing: border-box;


}


.Juletraestaending {
    background-color: var(--lightRed);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;

}

.Sallingjuleshow {
    background-color: var(--gold);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Skoejtebane {
    background-color: var(--lightRed);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Julemanden {
    background-color: var(--gold);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Juletoget {
    background-color: var(--lightRed);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Karrusel {
    background-color: var(--gold);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Pariserhjul {
    background-color: var(--lightRed);
    width: 100%;
    max-width: 1284px;
    min-height: 300px;
}

.Juletraestaending,
.Skoejtebane,
.Juletoget,
.Pariserhjul,
h2 h3 p {
    color: white;
}

/* Back-to-top arrow styling */
.back-to-top {
    position: fixed;
    bottom: 0;
    left: 50%;
    color: var(--gold);
    font-size: 2rem;
}

/* Mobile version */

@media (max-width: 800px) {
    body {
        font-size: 1rem;
        max-width: 800px;
        overflow-x: hidden;
    }

    main {
        padding: var(--smSpacer);
        gap: var(--smSpacer);
    }

    h1,
    .boerneaktiviteter {
        font-size: 3rem;
        text-align: center;
    }

    .seoversigten {
        text-align: center;
        font-size: 2rem;

    }

    article {
        flex-direction: column;
        align-items: center;
        text-align: left;

    }

    p {
        padding: 0 var(--smSpacer);
        line-height: 140%;
        font-size: 25px;

    }

    h2,
    h3 {
        font-size: 30px;
        transform: translateX(1rem);
    }

    article .text {
        padding: 1rem;
        order: 1;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    article .image {
        width: 100%;
        height: auto;
        order: 2;
        box-sizing: border-box;
        border: none;

    }

    article .image img {
        width: 100%;
        width: 400px;
        height: 300px;
        object-fit: cover;
        display: flex;
        justify-self: center;
        border: 4px solid black;
    }

    .back-to-top {
        bottom: 0;
        font-size: 2rem;
    }
}



/* Her skriver Melanie */

@media (min-width: 801px){

      img {
            width: 600px !important;
            height: 400px !important;
            border: 5px solid black;
            object-fit: cover;
        }

        .tekst1, .tekst2{
            max-width: 50%;
        }


.mad{
    background-color: var(--darkGreen);
  padding: 0 var(--lgSpacer) ;

   .toggle{
    display: none;
   }

   .dropbtn1{
    display: none;
   }
    
    h1{
        justify-self: center;
        color: var(--gold);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        font-size: 100px;
        margin: 0;
        }
    }

    h2{
       
         color: white;
        border: none;
        margin-bottom: 0;
        font-size: 35px;
        text-align: center;
    }

    h3{
        font-size:30px ;
    }

    p{
        font-size: 25px;
        line-height: 140%;
       
    }

    
     
    .madcontainer{
        padding: 0 var(--lgSpacer);

     h2{
         background-color: #193713;
        border: 5px double #FFC45F;
        justify-self:center;
        color: var(--gold);
        font-size: 30px;
        text-align: center;
       padding: var(--smSpacer) 45%;
        margin-bottom: var(--smSpacer);
        margin-top: var(--lgSpacer);
     }

        .spis1, .tag1 {
            display: flex;
            background-color:var(--lightRed);
            color: white;
            padding: var(--mdSpacer);
            justify-content: space-between;
            margin-bottom: var(--mdSpacer);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

            p, h3{
               transform: translateY(-2rem);
              
            }

        }

        .spis2, .tag2 {
            display: flex;
            background-color: var(--gold);
            flex-direction: row-reverse;
            padding: var(--smSpacer);
            justify-content: space-between;
             margin-bottom: var(--mdSpacer);
              box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

                p, h3{
                 transform: translateY(-2rem);
            }
        }


    }
.up {
   
    display: flex;
    justify-self: center;
    margin: var(--lgSpacer) 0;
    text-decoration: none;
    color: #FFC45F;
    font-size: 50px;
  
}
    
        
}


/* MOBIL VERSION AF MADHYTTER */

@media (max-width: 800px){

    body{
        background-color: var(--darkGreen);
    }

       img {
            width: 400px !important;
            height: 300px !important;
            border: 5px solid black;
            object-fit: cover;
           display: flex;
           justify-self:center;
        }

        .tekst1, .tekst2{
            max-width: 100%;
        }


.mad{
    background-color: var(--darkGreen);

    
    
    h1{
        justify-self: center;
        color: var(--gold);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        font-size: 70px;
        margin: 0;
        }
    }

    h2{
       color: white;
       text-align: center;
    }


    .spis h2, .tag h2{
        display: none;
    }
    .dropbtn1{
        display: none;
        font-size: 30px;
        margin-top: var(--lgSpacer);
        display: flex;
        justify-self: center;
        border: 5px double var(--gold);
        background-color: #193713;
        color: var(--gold);
        padding: var(--smSpacer);
        font-family: ibarra real nova, serif;
        margin-bottom: var(--smSpacer);
        cursor: pointer;
       
        
    }

    .toggle{
        display: none;
    }

    .content1{
        display: none;
        position: static;
        z-index: auto;
        overflow: hidden;
        width: 100%;
        max-width: 800px;
        background-color: var(--darkGreen);
        background-color: #193713;
        margin-bottom: var(--lgSpacer);
    }

    .toggle:checked + .dropbtn1 + .content1{
        display: block;
    }

    h3{
        font-size:30px ;
    }

    p{
        font-size: 25px;
        line-height: 140%;
       
    }

     .spis1, .tag1 {
            
            background-color:var(--lightRed);
            color: white;
            justify-content: space-between;
            padding: var(--mdSpacer) ;
            margin-bottom: var(--mdSpacer);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

            p, h3{
               transform: translateY(-2rem);
              padding:0 var(--smSpacer) ;
              text-align: justify;
            }


        }

        .spis2, .tag2 {
            
            background-color: var(--gold);
            padding: var(--mdSpacer);
            justify-content: space-between;
             margin-bottom: var(--mdSpacer);
              box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

                p, h3{
                 transform: translateY(-2rem);
                padding:0 var(--smSpacer) ;
                text-align: justify;
            }
        }

        .up {
   
    display: none;
  
    }


    }

    
    
